<div class='admin-box'>
  <h1>Admin Page</h1>

  <section class="messages-section">
    <h2>Messages</h2>
    <% @messages.each do |message|  %>
      <div class='messsage-box'>
        <p><%= message.message %></p>
        <p><%= message.name %></p>
        <p><%= message.email %></p>
      </div>
    <% end %>
  </section>

  <section class='blog-section'>
    <h2>Blogs</h2>
    <% @blogposts.each do |blogpost| %>
      <div class='blogpost-box'>
        <p><%= blogpost.title %></p>
        <% if blogpost.published == false %>
          <%= link_to 'Publish', admin_blogpost_publish_path(blogpost), class: 'btn btn-warning'%>
        <% else %>
          <%= link_to 'Unpublish', admin_blogpost_publish_path(blogpost), class: 'btn btn-warning'%>
        <% end %>
        <%= link_to 'Edit Post', edit_admin_blogpost_path(blogpost), class: 'btn btn-warning'%>
        <%= link_to 'Delete Post', admin_blogpost_path(blogpost), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-warning'%>
      </div>
    <% end %>
    <%= link_to 'New Post', new_admin_blogpost_path, class: 'btn btn-success' %>
  </section>
</div>