<div class="about-container">
  <div class="about-box about-me-box">
    <h1>About Me</h1>
    <br/>
    <div class="col-xs-2 about-image-div">
      <%= image_tag("joshua.jpg", class: "about-image img-responsive")%>
    </div>
    <div class="about-me-text col-xs-10">
      <p>I am a full stack web developer from Singapore. I am passionate about coding which led me to pick up and learn the details of web development using rails and javascript.</p>
      <p>I am comfortable with frontend and backend techniques, take pride in what i do and believe in delivering quality code to the best of my ability. </p>
      <p>I enjoy working on minor details whether it is to improve the design or performance of my web apps. I also love working as a team and believe that we can achieve more by working together.</p>
    </div>
    <br class="clr"/>
  </div>

  <div class="about-box">
    <div class="skill-box">
      <h1>Skills</h1>
      <div class="skill col-xs-12 col-sm-6">
        <p>Ruby on Rails</p>
        <div class="skill-meter"><div class="competence rails-competence"></div></div>
      </div>

      <div class="skill col-xs-12 col-sm-6">
        <p>Javascript</p>
        <div class="skill-meter"><div class="competence javascript-competence"></div></div>
      </div>

      <div class="skill col-xs-12 col-sm-6">
        <p>HTML</p>
        <div class="skill-meter"><div class="competence html-competence"></div></div>
      </div>

      <div class="skill col-xs-12 col-sm-6">
        <p>CSS</p>
        <div class="skill-meter"><div class="competence css-competence"></div></div>
      </div>
    </div>
  </div>

  <div class="about-box">
    <h1>Projects</h1>
    <div class="projects-box">
      <div class="project-image">
        <a href="https://jt-flixter.herokuapp.com"><%= image_tag("flixter.jpeg") %></a>
      </div>
      <div class="projects-list" >
        <%= link_to("https://jt-flixter.herokuapp.com") do %>
          <div class="project" data-id="1">
            <h2>Flixter</h2>
            <p>Languages and Frameworks: Ruby, Rails, Javascript</p>
            <p>Online Games Tutorial Site</p>
          </div>
        <% end %>

        <%= link_to("https://jt-todo.herokuapp.com/") do %>
          <div class="project" data-id="2">
            <h2>Todo List</h2>
            <p>Languages and Frameworks: Javascript</p>
            <p>Simple To-Do List</p>
          </div>            
        <% end %>

        <%= link_to("https://jt-gamershound.herokuapp.com") do %>
          <div class="project" data-id="3">
            <h2>Gamer's Haunts</h2>
            <p>Languages and Frameworks: Ruby, Rails</p>
            <p>Board Games Sharing App</p>
          </div>
        <% end %>

        <%= link_to("http://codepen.io/tohyung85/full/rxEZKy/") do %>
          <div class="project" data-id="4">
            <h2>Game of Life</h2>
            <p>Languages and Frameworks: Javascript, ReactJS</p>
            <p>Conway's Game of Life App</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>