<div class='admin-box'>
  <h1>Edit Post</h1>
  <%= simple_form_for @blogpost, url: admin_blogpost_path(@blogpost), method: :patch do |f| %>
    <%= f.input :title %>
    <%= f.input :image %>
    <%= f.input :category, as: :select, collection: Blogpost::CATEGORIES %>
    <%= f.input :content, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'FULL'}} %>
    </br>
     <%= f.submit 'Update', class: 'btn btn-success' %>
  <% end %>
</div>