<div class="contact-container">
  <div class="contact-inner">
    <h1>Get in Touch!</h1>
    <br/><br/>
    <p class= "contact-text">Drop me a message...</p>
    <%= simple_form_for @contactmessage do |f| %>
      <%= f.input :name %>    
      <br/>
      <%= f.input :email %>
      <br/>
      <%= f.input :message %>
      <br/>
      <%= f.submit 'Send', class: 'btn btn-default btn-lg', id: 'contact-submit' %>
    <% end %>
    <br/><br/>
    <p class= "contact-text">Or connect with me using...</p>
    <div class="contact-social">
      <div class="contact-icons">
        <a href="#">
          <span class="contact-icons icon-envelope"></span>
          <p class="contact-icons-text">EMAIL</p>
        </a>
      </div>
      <div class="contact-icons">
        <a href="#">
          <span class="contact-icons icon-twitter"></span>
          <p class="contact-icons-text">TWITTER</p>
        </a>
      </div>
      <div class="contact-icons">
        <a href="#">
          <span class="contact-icons icon-facebook"></span>
          <p class="contact-icons-text">FACEBOOK</p>
        </a>
      </div>      
      <div class="contact-icons">
        <a href="#">      
          <span class="contact-icons icon-googleplus"></span>
          <p class="contact-icons-text">GOOGLE PLUS</p>
        </a>
      </div>            
      <div class="contact-icons">
        <a href="#">            
          <span class="contact-icons fontello-github-circled contact-github"></span>   
          <p class="contact-icons-text">GITHUB</p>
        </a>
      </div>                     
    </div>
  </div>
</div>